* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #3cff00;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:linear-gradient(#87CEEB,#E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}
.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}
.score{
    position: absolute;
    font-size: 40px;
    right: 0;    
    animation: score-animation 5s infinite ease-in-out;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}
@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;

    }
}
@keyframes clouds-animation{
    from{
        right:-550px;
    }
    to{
        right: 100%;
    }
}
@keyframes score-animation{
    0%{
        color: #ff0000;
    }
    20%{
        color: #ffa500;
    }
    40%{
        color: #ffff00;
    }
    60%{
        color: #008000;
    }
    80%{
        color: #0000ff;
    }
    100%{
        color: #ee82ee;
    }
}