* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #3cff00;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
    
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}
.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}
.spaceship{
    position: absolute;
    width: 400px;
    height: 400px;
    transform: rotate(270deg);
    right: 0;
    visibility: hidden;
    animation: none;
}
.ballLaser{
    position: absolute;
    width: 250px;
    height: 250px;
    right: 240px;
    top: 70px;
    visibility: hidden;
    animation: none;
}
.laser{
    position: absolute;
    height: 100px;
    transform: rotate(180deg);
    right: 345px;
    top: 145px;
    visibility: hidden;
    animation: none;
}
.score{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    font-size: 30px;
    right: 0;    
    animation: score-animation 5s infinite ease-in-out;
}
.message{
    font-family: 'Press Start 2P', cursive;

    width: 350px;
    height: 250px;

    background-color: rgb(75, 38, 38);
    border-top: 35px solid #36dd03;
    border-radius: 10px;
    
    position: absolute;
    right: 40%;
    top: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    visibility: hidden;

}
.message h1{
    font-size: 32px;
    color: #fff;
} 
.message h2{
    font-size: 32px;
    color: #fff;
}
.message .again{
    width: 50px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10%;
    

}
.again img{
    width: 32px;
    height: 32px;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}
@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;

    }
}
@keyframes clouds-animation{
    from{
        right:-550px;
    }
    to{
        right: 100%;
    }
}
@keyframes boss-animation{
 from{
    right:-400px;
 }
 to{
    right: 0;
 }   
}
@keyframes boss-animationPt2{
    from{
        right: 0;
    }
    to{
        right:-400px;
    }   
   }
@keyframes ballLaser-animation{
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 0.4;
    }
    100%{
        opacity:1;
    }
}
@keyframes laser-animation{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity:0;
    }
}
@keyframes score-animation{
    0%{
        color: #ff0000;
    }
    20%{
        color: #ffa500;
    }
    40%{
        color: #ffff00;
    }
    60%{
        color: #008000;
    }
    80%{
        color: #0000ff;
    }
    100%{
        color: #ee82ee;
    }
}
